

.header_career {
    background-image: url(./image/image_career.png);
    background-position-y: -240px;
}

#jobs {
    position: relative;
    width: 100%;
    height: auto;
    height: 300px;
}

.job_waiter_text {
    float: left;
    width: 80%;
    height: 100%;
    background-image: url(./image/texture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FF3030;
}

.chef_text_title {
    font-size: 4rem;
    text-align: center;

}

.job_waiter_paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3rem;
    padding: 50px;
    height: 100%;
}

.banner_job_waiter_img {
    position: relative;
    float: right;
    width: 20%;
    height: 100%;
    opacity: 70%;
}

.banner_job_waiter_img img {
    width: 100%;
    height: 100%;
}

.banner_job_waiter {
    position: absolute;
    font-size: 3rem;
    font-family: "AgencyFB-Bold";
    color: white;
    transform: rotate(90deg);
    top: 40%;
    right: -20%;
}



.banner_job_cook_img {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    opacity: 70%;
}

.banner_job_cook_img img {
    width: 100%;
    height: 100%;
}

.job_cook_text {
    float: right;
    width: 80%;
    height: 100%;
    background-image: url(./image/texture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FF3030;
}

.job_cook_paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3rem;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    height: 100%;
}

.banner_job_cook {
    position: absolute;
    font-size: 3rem;
    font-family: "AgencyFB-Bold";
    color: white;
    transform: rotate(-90deg);
    top: 40%;
    left: -5%;
}

.career_quote {
    position: relative;
    width: 100%;
    height: 400px;
    color: white;
}

.career_quote p {
    width: 70%;
    height: auto;
    text-align: center;
    position: absolute;
    font-size: 3.5rem;
}

span {
    font-size: 5rem;
}

@media only screen and (min-width: 0px) {
    .header_career {
        background-position-y: 0px;
        background-position-x: 50%;}
    .job_waiter_paragraphe {
        font-size: 1.05rem;
    }
    .job_cook_paragraphe {
        font-size: 1.05rem;
    }
}

@media only screen and (min-width: 375px) {
    .job_waiter_paragraphe{
        font-size: 1.2rem;
    }
    .job_cook_paragraphe {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 450px) {
    .job_waiter_paragraphe{
    font-size: 1.3rem;}
    .job_cook_paragraphe {
        font-size: 1.3rem;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 570px) {
    .job_waiter_paragraphe{
        font-size: 1.5rem;
    }
    .job_cook_paragraphe {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 630px) {
    .header_career {
        background-position-y: 0px;
    }
    .job_waiter_paragraphe{
        font-size: 1.75rem;
    }
    .job_cook_paragraphe {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 700px) {
    .banner_job_waiter {
        transform: rotate(0deg);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: right;
    }

    .banner_job_cook {
        transform: rotate(0deg);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: left;
        right: -20%;
    }
}
@media only screen and (min-width: 820px) {
    .job_waiter_paragraphe{
        font-size: 2rem;
    }
    .job_cook_paragraphe {
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 930px) {
    .header_career {
        background-position-y: -200px;
    }
}


@media only screen and (min-width: 965px) {
    .job_cook_paragraphe {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 1185px) {
    #jobs {
        height: 500px;
    }
    .job_waiter_text {
        width: 50%;
        padding: 20px;
    }
    .banner_job_waiter_img {
        width: 50%;
    }

    .job_waiter_paragraphe{
        font-size: 2.5rem;
    }
    .job_cook_paragraphe {
        font-size: 2.5rem;
    }
    .banner_job_waiter{
        font-size: 5rem;
    }
    .job_cook_text {
        width: 50%;
        padding: 20px;
    }
    .banner_job_cook_img {
        width: 50%;
    }
    .banner_job_cook{
        font-size: 5rem;
    }
}

@media only screen and (min-width: 1615px) {
    .job_waiter_text {
        padding: 50px;
    }
    .job_cook_text {
        padding: 50px;
    }
}