.header {
    position: relative;
    height: 100vh;
    background-image: url(./image/image_contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_title {
    top: 50%;
}

#contact {
    width: 100%;
    height: auto;
    background-image: url(./image/image_contact_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    }


.container_contact {
    position: relative;
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}



.container_contact_info_1 {
position: relative;
width: 100%;
height: auto;
display: flex;
flex-direction: column;
justify-content: space-around;
flex-wrap: nowrap;
color: white;
text-align: center;
padding-top: 50px;
}
.container_contact_info_2 {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: white;
    text-align: center;
    padding-top: 50px;
    }

.contact_title_1 {
    font-family: AgencyFB-Bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.contact_title_2 {
    font-family: AgencyFB-Bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.contact_info {
    font-family: AgencyFB;
    font-size: 1rem;
}

.section_form_tab {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: flex-start;
    flex-direction: column;
    color: white;
    font-size: 1.75rem;
    font-family: "AgencyFB";
    padding-bottom: 80px;
    padding-top: 80px;
    line-height: 1.1;
}

.row_form {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.1;
}

label {
    margin-top:10px;
    margin-bottom: 10px;
    display:block;
    }

label.inline {
    display:inline;
    margin-right:50px;
    }

input, select, textarea {
    padding:10px;
    border:1px solid #fff;
    border-radius:10px;
    width:100%;;
    }

select {
    margin-top:10px;
    }

.section_form {
    position: relative;
    height: auto;
    width: 100%;
    text-align: right;
}

.message {
    padding-top: 20px;
}


.google_maps {
    width: 100%;
    height: 300px;
}

.google_maps iframe {
    width: 100%;
    height: 100%;
}

.footer_copyright {
    background-color: white;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    height: 100%;
    color:#212426;
    font-size: 0.75rem;
}



@media only screen and (min-width: 370px) {
.header_title {
    top: 45%;
    }
}

@media only screen and (min-width: 460px) {
    .footer_copyright {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 575px) {
    .contact_title_1 {
        font-size: 2rem;
    }
    .contact_title_2 {
        font-size: 2rem;
    }
    .contact_info {
        font-size: 1.5rem;
    }
    input, select, textarea {
        padding:15px;
        border-radius:10px;
        width:100%;;
    }
}

@media only screen and (min-width: 1000px) {
    .section_form_tab {
        width: 700px;
    }
    .section_form_tab {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    input, select, textarea {
        padding:20px;
        border-radius:15px;
        width:100%;;
    }
}

@media only screen and (min-width: 1100px) {

    .header_title {
        top: 50%;
    }
    .container_contact {
        flex-direction: row;
        text-align: left;
    }
    .container_contact_info_1 {
        flex-direction: row;
        text-align: left;
        width: 350px;
        padding-top: 100px;
    }
    .container_contact_info_2 {
        flex-direction: row;
        text-align: left;
        width: 420px;
        padding-top: 100px;
    }
    .contact_title_1 {
        width: 80px;
        text-align: right;
    }
    .contact_title_2 {
        width: 160px;
        text-align: right;
    }
}

@media only screen and (min-width: 1265px) {
    .footer_copyright {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1400px) {
.header_title {
    top: 55%;
}

.container_contact_info_1 {
    width: 430px;
    padding-top: 125px;
}
.container_contact_info_2 {
    width: 520px;
    padding-top: 125px;
}
.contact_title_1 {
    width: 100px;
    font-size: 2.5rem;
}
.contact_title_2 {
    width: 200px;
    font-size: 2.5rem;
}
.contact_info {
    font-size: 2rem;
}
}

