/*********************************** Header ************************************/
.header_history {
    background-image: url(./image/image_history_2.png);
    background-position-y: -200px;
}

#presentation_chef {
    position: relative;
    width: 100%;
    height: auto;
    height: 728px;
}

.presentation_chef_text {
    float: left;
    width: 80%;
    height: 100%;
    background-image: url(./image/texture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FF3030;
}

.chef_text_title {
    font-size: 2rem;
    text-align: center;
}

.chef_text_title_2 {
    position: relative;
    font-size: 5rem;
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
}



.chef_text_paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    height: 100%;
    line-height: 2rem;
}

.presentation_chef_img {
    float: right;
    width: 20%;
    height: 100%;
    background-image: url(./image/imh_presentation_chef.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div_blank {
    width: 100%;
    height: 50px;
}



span {
    font-size: 5rem;
}




.presentation_duty {
    position: relative;
    width: 100%;
    height: 100%;
    height: 928px;
}

.presentation_duty_img{
    float: left;
    width: 20%;
    height: 100%;
    background-image: url(./image/img_presentation_duty.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -575px;
}

.presentation_duty_text {

    float: right;
    width: 80%;
    height: 100%;
    color: white;
}

.presentation_duty_text img{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-image: url(./image/marbre_red.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
}

.text_duty {
    position: relative;
    height: 100%;
}

@media only screen and (min-width: 0px) {
    .chef_text_title_2 {
        display: none;
    }
    .chef_text_paragraphe {
        font-size: 1.25rem;
    }
    .chef_text_paragraphe_2 {
        display: none;
    }
    .chef_text_paragraphe_3 {
        display: none;
    }
    .crab_plate {
        display: none;
    }
    .header_history {
        background-position-y: 0px;
        background-position-x: 50%;}
}

@media only screen and (min-width: 375px) {
    .chef_text_paragraphe {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 1.5rem;
    }
    
}

@media only screen and (min-width: 410px) {
    .chef_text_paragraphe {
        padding-left: 40px;
        padding-right: 40px;}
}

@media only screen and (min-width: 510px) {

    .chef_text_title {
        font-size: 2.25rem;
    
    }   
    .chef_text_paragraphe {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 565px) {
    .chef_text_title {
        font-size: 2.5rem;
    
    }
    .chef_text_paragraphe {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 2rem;

    }
}

@media only screen and (min-width: 620px) {
    .header_history {
        background-position-y: 0px;
    }
}

@media only screen and (min-width: 680px) {

    .chef_text_paragraphe {
        padding-left: 70px;
    }

}

@media only screen and (min-width: 850px) {

    .chef_text_title {
        font-size: 3.5rem;
        text-align: right;
    }
    .chef_text_paragraphe {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .presentation_duty_img{
        background-position-x: -540px;
    }
}

@media only screen and (min-width: 930px) {
    .header_history {
        background-position-y: -200px;
    }
    }

@media only screen and (min-width: 1450px) {

    .chef_text_title {
        display: none;
    }

    .chef_text_title_2 {
        display: block;
        padding-right: 40px;
        padding-top: 50px;
    }

    .chef_text_paragraphe {
    display: none;
    }

    .chef_text_paragraphe_2 {
        width: 1180px;
        padding-right: 50px;
        height: 75%;
        font-size: 3rem;
        line-height: 3rem;
        padding-top: 0;
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .chef_text_paragraphe_3 {
        width: 1200px;
        padding-right: 50px;
        height: 80%;
        font-size: 3rem;
        line-height: 3rem;
        padding-top: 0;
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .crab_plate {
        display: block;
        position: absolute;
        width: 1000px;
        left: 60%;
        top: 42%;
    }
    .crab_plate_size {
        display: block;
        width: 1000px;
        height: auto;
    }

    .presentation_duty {
        height: 1154px;
    }

    .presentation_duty_text img{
        background-position-x: -740px;
        top: 0;
        right: 0;
        width: 80%;
    }
}
