/*********************************** Header ************************************/
.header_index {
    background-image: url(./image/image_restaurant_color.jpg);
}

.header .header_logo {
    position: relative;
    width: 100%;
    height: 100%;
}

.header .header_logo .header_logo_big_size {
    position: absolute;
    width: 200px;
    height: auto;
}

/*********************************** Banner history ************************************/

#banner_general {
    position: relative;
    background-image: url(./image/Creer_un_effet_de_texte_3D_fleure_avec_PhotoshopT.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner {
    position: relative;
    width: 100%;
    height: 350px;
}

.banner_history_background {
    width: 100%;
    height: 350px;
    position: relative;
    opacity: 70%;
}

.banner_history_background img {
    width: 100%;
    height: 100%;
}

.banner_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner_history_container_text {
    position: relative;
    width: 70%;
    height: 100%;
    top: 0;
    float: left;
}

.banner_history_container_text_p {
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5rem;
    line-height: 1;
    color: white;
}

span {
    font-size: 2rem;
}



.banner_history_container_img {
    width: 30%;
    float: right;
    height: 100%;
    background-image: url(./image/img_home_history.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




@media only screen and (min-width: 560px) {
    span {
        font-size: 3.5rem;
    }
    .banner_history_container_text_p {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 870px) {
    .banner_history_container_text {
        width: 45%;
    }
    .banner_history_container_img {
        width: 55%;
    }
}

@media only screen and (min-width: 1265px) {
    .banner{
        height: 500px;
    }
    .banner_history_background {
        height: 500px;
    }
    span {
        font-size: 5rem;
    }
    .banner_history_container_text_p {
        font-size: 2.5rem;
    }
    }

/*********************************** Banner menu************************************/

.banner_menu_background {
    width: 100%;
    height: 350px;
    position: relative;
}

.banner_menu_background img{
    width: 100%;
    height: 100%;
}

.banner_menu_container_img {
    width: 30%;
    float: left;
    height: 100%;
    background-image: url(./image/img_home_menu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_menu_container_text {
    position: relative;
    width: 70%;
    height: 100%;
    top: 0;
    float: right;
}

.banner_menu_container_text_p {
    position: absolute;
    right: 10%;
    padding-left: 10%;
    font-size: 1.25rem;
    line-height: 1;
    color:#FF3030;
    text-align: right;
}



@media only screen and (min-width: 400px) {
    span {
        font-size: 2.5rem;
    }
    .banner_menu_container_text_p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 560px) {
    span {
        font-size: 3.5rem;
    }
    .banner_menu_container_text_p {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 870px) {
    .banner_menu_container_text {
        width: 45%;
    }
    .banner_menu_container_img {
        width: 55%;
    }
}

@media only screen and (min-width: 1265px) {
    .banner{
        height: 500px;
    }
    .banner_menu_background {
        height: 500px;
    }
    span {
        font-size: 5rem;
    }
    .banner_menu_container_text_p {
        font-size: 2.5rem;
    }
    .banner_menu_container_text {
        width: 40%;
    }
    .banner_menu_container_img {
        width: 60%;
    }
    }

/*********************************** Banner career ************************************/

.banner_career_background {
    width: 100%;
    height: 350px;
    position: relative;
    opacity: 70%;
}

.banner_career_background img {
    width: 100%;
    height: 100%;
}

.banner_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner_career_container_text {
    position: relative;
    width: 70%;
    height: 100%;
    top: 0;
    float: left;
}

.banner_career_container_text_p  {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.career_p {
    position: absolute;
    color: white;
    font-size: 1.25rem;
    line-height: 1;
    padding-left: 10%;
    padding-right: 10%;
}

.banner_career_container_img {
    width: 30%;
    float: right;
    height: 100%;
    background-image: url(./image/img_home_career.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_career_background img{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 560px) {
    span {
        font-size: 3.5rem;
    }
    .career_p {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 870px) {
    .banner_career_container_text {
        width: 45%;
    }
    .banner_career_container_img {
        width: 55%;
    }
}

@media only screen and (min-width: 1265px) {
    .banner{
        height: 500px;
    }
    .banner_career_background {
        height: 500px;
    }
    span {
        font-size: 5rem;
    }
    .career_p {
        font-size: 2.5rem;
    }
    }

/*********************************** ************************************/

.div_blank {
    width: 100%;
    height: 50px;
}




@media only screen and (min-width: 480px) {
    .header .header_logo .header_logo_big_size {
        width: 300px;
    }
    .banner_quote_text {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .header .header_logo .header_logo_big_size {
        width: 320px;
    }
    .banner_quote_text {
        font-size: 2.5rem;
    }
    .banner_quote {
        height: 200px;
    }
}

@media only screen and (min-width: 1080px) {
    .header_logo_big_size {
        width: 380px;
    }
    .banner_quote_text {
        font-size: 3rem;
    }
    .banner_quote {
        height: 250px;
    }
}

@media only screen and (min-width: 1580px) {
    .header_logo_big_size {
        width: 440px;
    }

}