/*********************************** Header ************************************/
.header_menu {
    background-image: url(./image/image_menu.png);
    background-position-y: -200px;
}

.container {
    position: relative;
    width: 70%;
    margin: auto;
}

#container_photo_menu {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}

.photo_menu {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.menu_button_open {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.menu_button_open a:hover{
    border-color:#ED1C24;
    color:#ED1C24;}


.button{
    width: 165px;
    padding: 0px;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    border-color: white;
    font-size: 1.75rem;
    font-family: AgencyFB-Bold;
    color: white;
    background-color: transparent;
    margin: auto;
    text-align: center;
}

.button:hover{
    cursor: pointer;

}

@media only screen and (min-width: 0px) {
    .header_menu {
    background-position-y: 0px;
    background-position-x: -100px;}

    .container_photo_menu{
        display: none;
    }
}

@media only screen and (min-width: 620px) {
    .header_menu {
        background-position-y: 0px;
        background-position-x: 0px;
    }

    .menu_button_open {
        flex-direction: row;
        left: none;
    }
    }


@media only screen and (min-width: 930px) {
    .button{
        width: 200px;
        padding: 10px;
        border-width: 6px;
        border-radius: 25px;
    }

.header_menu {
    background-image: url(./image/image_menu.png);
    background-position-y: -200px;
}
}

@media only screen and (min-width: 1030px) {
    .container_photo_menu{
        display: block;
    }

    