@charset "utf-8";

@font-face {
    src: url(../Font/AgencyFB.ttf);
    font-family: "AgencyFB";
    font-style: normal;
    font-weight: 500;
}

@font-face {
    src: url(../Font/AgencyFB-Bold.ttf);
    font-family: "AgencyFB-Bold";
    font-style: bold;
    font-weight: 900;
}

@font-face {
    src: url(../Font/Gabriola.ttf);
    font-family: "Gabriola";
    font-style: normal;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a {
    color: inherit;
    cursor: pointer;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    position: relative;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-family: Gabriola;
    font-size: 1em;
}

.centered {

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.centered_x {
    left: 50%;
    transform: translateX(-50%)
}

.centered_y {
    top: 50%;
    transform: translateY(-50%)
}


.div_blank {
    width: 100%;
    height: 50px;
}

body.with_bkg{
    background-image: url(../image/background_page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_quote {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: white;
}

.banner_quote_text{
    position: absolute;
    width: 70%;
    height: auto;
    text-align: center;
    color: #212426;
    font-size: 1.5rem;
}

.button{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    
}

@media only screen and (min-width: 480px) {
    .banner_quote_text {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .banner_quote {
        height: 200px;
    }
}

@media only screen and (min-width: 810px) {
    .banner_quote_text {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1080px) {
    .banner_quote_text {
        font-size: 3rem;
    }
    .banner_quote {
        height: 250px;
    }
}