footer {
    width: 100%;
    height: auto;
}

.footer_banner {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #212426;
}

.footer_logo {
    position: relative;
    width: 100%;
    height: 250px;
}

.size_logo {
    position: absolute;
    width: 150px;
    height: auto;
}



.svg_bar {
    display: none;
}

.svg_bar_new_business {
    display: none;
}

.footer_contact {
    position: relative;
    height: auto;
    color: white;
}

.talk_to_us {
    width: 100%;
    height: auto;
    text-align: center;
}

.new_business {
    width: 100%;
    height: auto;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.talk_to_us_title {
    font-family: AgencyFB-Bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.new_business_title {
    font-family: AgencyFB-Bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.talk_to_us_contact {
    font-family: AgencyFB;
    font-size: 1rem;
}

.new_business_contact {
    font-family: AgencyFB;
    font-size: 1rem;
}


.footer_contact_email {
    position: relative;
    height: auto;
    color: white
}



.footer_copyright {
    background-color: white;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    height: 100%;
    color:#212426;
    font-size: 0.75rem;
}



@media only screen and (min-width: 0px) {


    .footer_logo_final {
        display: none;
    }
}

@media only screen and (min-width: 460px) {
    .footer_copyright {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 545px) {

    .contact {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 40px;
    }
    
    .footer_contact {
        width: 50%;
        height: auto;
        text-align: center;
    }
    
    .footer_contact_email {
        width: 50%;
        height: auto;
        text-align: center;
    }
    
    .talk_to_us {
        padding-right: 30px;
        padding-left: 30px;
    }

    .new_business {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
        padding-top: 0;
    }
}


@media only screen and (min-width: 700px) {

    .contact {
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
    }

.footer_banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 8%;
    padding-left: 8%;
    height: 230px;
}

.footer_logo {
    position: absolute;
    width: 150px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.talk_to_us {
    text-align: left;
    padding: 0;
}

.new_business {
    text-align: right;
    padding: 0;
}

.new_business_title{
    padding-left: 150px;
}
}

@media only screen and (min-width: 860px) {
    .new_business_title{
        padding-left: 200px;
    }
}

@media only screen and (min-width: 970px) {
    
    .footer_banner {
        padding-right: 0;
        padding-left: 0;
        height: 265px;
    }
    .contact {
        height: 100%;
        align-items: center;
    }

    .svg_bar {
        display: flex;
    }
    .svg_bar_new_business {
        display: flex;
    }




    .talk_to_us {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 30px;
    }

    .talk_to_us_title {
        padding-bottom: 0;
        text-align: right;
        padding-right: 20px;
        width: 100px;
        
    }

    .talk_to_us_contact {
        padding-left: 20px;
    }


    .footer_logo {
        display: none;
    }
    .footer_logo_final {
        display: flex;
        position: relative;
        width: auto;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .size_logo {
        position: relative;
        width: 200px;
        height: auto;
    }



    .new_business {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 30px;
        align-content: right;
        justify-content: flex-end;
    }
    .new_business_title {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 20px;
        width: 145px;
    }

    .new_business_contact {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 1150px) {

    .talk_to_us_title {
        font-size: 1.75rem;
    }
    .new_business_title {
        font-size: 1.75rem;
        width: 200px;
    }
    .talk_to_us_contact {
        font-size: 1.25rem;
    }
    
    .new_business_contact {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1265px) {
    
    .talk_to_us_title {
        font-size: 2.25rem;
    }

    .new_business_title {
        font-size: 2.25rem;
    }
    .talk_to_us_contact {
        text-align: right;
    }
    .talk_to_us_contact {
        font-size: 1.5rem;
    }
    
    .new_business_contact {
        font-size: 1.5rem;
    }

    .size_logo {
        width: 232px;
    }
    .footer_copyright {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1600px) {

    .talk_to_us {
        padding-left: 100px;
    }
    .new_business {
        padding-right: 100px;
    }
}