/*********************************** Header ************************************/

header {
    font-size: 2rem;
    line-height: 2rem;
}

.header_fullscreen{
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wave{
    z-index: 2;
}

.header .wave {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

.header .wave .icon_wave {
    position: absolute;
    bottom: -10px;
    width: 400px;
}

.header .svg_arrow {
    position: absolute;
    bottom: 14px;
    width: 30px;
    height: auto;
}

.svg_burger {
    position: absolute;
    width: 40px;
    height: auto;
    right: 8%;
    top: 8%;
}


.header_title {

    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    padding: 50px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    z-index: 1;
}

.size_ornement {
    width: 100%;
    padding-top: 20px;
}


.logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 4%;
    left: 8%;
}

.logo img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 380px) {
header {
    font-size: 3rem;
    line-height: 3rem;
}
}

@media only screen and (min-width: 580px) {
    .logo {
        width: 120px;
    }
    .header_title {
        padding: 50px;
        left: 50%;
        transform: translateX(-50%) translateY(-75%);
    }
    
}


@media only screen and (min-width: 768px) {
    .svg_burger{
        width: 50px;
    }
.logo {
    width: 140px;
}

.header_title {
    font-size: 4rem;
    line-height: 4rem;
    padding: 50px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-80%);
}

}

@media only screen and (min-width: 933px) {
    .logo {
        width: 160px;
    }

    .header_title {
        font-size: 4.5rem;
        line-height: 4.5rem;
        padding: 50px;
        top: 80%;
        left: 50%;
        transform: translateX(-50%) translateY(-80%);
    }
}

@media only screen and (min-width: 1050px) {

    .size_ornement {
        width: 933px;
    }
    .header_title {
        font-size: 5rem;
        line-height: 5rem;
    }

}
    @media only screen and (min-width: 1400px) {
    .header_title {
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
    }
}